body {
    margin: 0;
    background-color: #151a29;
}

.todoContainer {
   
    width: 500px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    text-align: center;
}

h2 {
    color: white;
    font-size: -webkit-xxx-large;
}
.input-section{
    /* background-color: #7f7ea5; */
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 10px;
   
}

.input-section input{
    border-radius: 5px;
    border: 1px solid black;
    width: 320px;
    padding: 10px;
    box-sizing: border-box;
}
.noError{

    color: red;
    margin-left: 7%;
    margin-top: 2%;
    height: 30px;
    border-radius: 5px;
    width: 300px;
    display: none;
}
.error{
    display: block;
    color: red;
    margin-left: 7%;
    margin-top: 2%;
    height: 30px;
    border-radius: 5px;
    width: 300px;
}
.btnn{
    background-color:rgb(28 64 72);
    border-radius: 5px;
    border: 1px;
    width: 120px;
    height: 45px;
    color: white;
}


.listMain{
    background-color: white;
    padding: 15px;
    display: flex;
    gap: 330px;
    
}
.lmchecked{
    opacity: 30%;
}

.chbxdiv{
    display: flex;
}
p{
    width: 80px;
    white-space: nowrap;
}
.listDiv{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    cursor: pointer;
}
i{
    text-align: right;
    flex: 1;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
ul{
    border-radius: 5px;
}